<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Ticket Purchase Recommendation</title>
    <style>
        <%= cssContent %>
    </style>
</head>
<body>
<div class="email-container">
    <header>
        <h1>Flight Ticket Purchase Recommendation</h1>
    </header>
    <main>
        <p>Dear Customer,</p>
        <p>Here is the information regarding your selected flight from <strong>Chicago O'Hare</strong> airport to
            <strong>Los Angeles International</strong> airport.</p>
        <p id="prediction-result-description">
            For the flight on <strong><%= formattedStartDate %></strong> departing
            at <strong><%= departureHour %>:<%= departureMinute %> </strong>, it is recommended to purchase your
            ticket <strong><%= predictedDays %> days</strong> before departure, on <strong><%= formattedDayToBuy %>
            </strong>, for the best fare.
        </p>
        <p>Hope this information helps you in planning your travel. Have a safe and pleasant journey!</p>
        <p>Best Regards.</p>
    </main>
</div>
</body>
</html>
